
<form enctype="multipart/form-data" method="post">
    <input type="file" name="imageFile" />
    <input asp-action="Upload" asp-controller"Student" class="btn" type="submit" value="Upload" />
</form>